<section class="footer">
    <div class="container-fluid">
        <div class="row justify-content-center">
                <div class="col-xl-12 ">
                        <div class="text-center">
                            <a href="https://www.facebook.com/mateus.soaresmartins" class="fa fa-facebook"></a>
                            <a href="https://www.instagram.com/mateus_soares1/?hl=pt-br" class="fa fa-instagram"></a>
                        </div>
                    </div>
            <div class="col-xl-12 byMe">
                <div class="text-center">
                    <h6>Site Desenvolvido por Mateus Soares</h6>
                </div>
            </div>
          
        </div>
    </div>
</section>