<app-menu></app-menu>
<div class="pd">
    <h1 class="text-center">Algumas receitas do Dito Lambari</h1>
</div>
<section class="receitas">
    <div class="card-deck choices">
        <div class="card text-center">
            <img class="card-img-top" src="../../../assets/receita1.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Peixe com Batata</h5>
                <p class="card-text">Um gostoso peixe com batata</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#peixeBatata">
                    Saiba Mais
                </button>
            </div>
        </div>
        <div class="card text-center">
            <img class="card-img-top" src="../../../assets/receita2.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Peixe com Pimentão</h5>
                <p class="card-text">Um delicioso peixe com pimentão assado</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#peixePimentao">
                    Saiba Mais
                </button>
            </div>
        </div>
        <div class="card text-center">
            <img class="card-img-top" src="../../../assets/receita2.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Peixe com Laranja</h5>
                <p class="card-text">O ousado peixe com Laranja</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PeixeLaranja">
                    Saiba Mais
                </button>
            </div>
        </div>
    </div>
</section>



<!-- Modal -->
<div class="modal fade" id="peixeBatata" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Peixe com Batata</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ol class="">
                    <li>Pesque seu pacu com uma vara ninja</li>
                    <li>Limpe o peixe com sua kunai</li>
                    <li>Pegue os temperos e jogue tudo na panela</li>
                    <li>Use um jutsu de fogo para atear foto no fogão</li>
                    <li>Espere 2h</li>
                    <li>Coma seu pacu</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="peixePimentao" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Peixe com Pimentão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ol class="">
                    <li>Pesque seu pacu com uma vara ninja</li>
                    <li>Limpe o peixe com sua kunai</li>
                    <li>Pegue os temperos e jogue tudo na panela</li>
                    <li>Use um jutsu de fogo para atear foto no fogão</li>
                    <li>Espere 2h</li>
                    <li>Coma seu pacu</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="PeixeLaranja" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Peixe com Laranja</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ol class="">
                    <li>Pesque seu pacu com uma vara ninja</li>
                    <li>Limpe o peixe com sua kunai</li>
                    <li>Pegue os temperos e jogue tudo na panela</li>
                    <li>Use um jutsu de fogo para atear foto no fogão</li>
                    <li>Espere 2h</li>
                    <li>Coma seu pacu</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>