<app-menu></app-menu>
<!--Paralax-->

<div class="container-fluid paralax">
    <div class="row justify-content-center">
        <div class="col-xs-12">
            <h1 class="text-center font-10">Bem Vindo</h1>
        </div>
    </div>
</div>
<!--RECEITA-->
<section class="intro">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-9  ">
                <h1 class="text-center">Dito Lambari</h1>
                <p class="text-center">Conheça a historia desse incrivel cozinheiro Matogrossense que enfrentou muitos
                    obstaculos
                    e hoje é conhecido mundialmente pelo seu talento na cozinha. Ele que também é conhecido como Dito
                    "Lambarito" mestre ninja
                    da cozinha.
                </p>
            </div>
        </div>
        <div class="card-deck choices " >
            <div class="card text-center" >
                <img class="card-img-top" src="../../../assets/historia.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">História</h5>
                    <p class="card-text">Saiba tudo sobre o famoso 'Lambarito' ninja cozinheiro do Mato-Grosso</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted text-center"><a routerLink="/historia" routerLinkActive="active" >Saiba Mais</a></small>
                </div>
            </div>
            <div class="card text-center">
                <img class="card-img-top" src="../../../assets/receita2.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Receitas</h5>
                    <p class="card-text">Fique por dentro das melhores receitas de peixe assado e cozido do Centro-Oeste</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted text-center"><a  routerLink="/receitas" routerLinkActive="active" >Saiba Mais</a></small>
                </div>
            </div>
            <div class="card text-center">
                <img class="card-img-top" src="../../../assets/contatoo.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Contato</h5>
                    <p class="card-text">Tenha a melhor comida em seus eventos. Entre em contato e agende uma reunião.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted text-center"> <a routerLink="/contato" routerLinkActive="active" >Saiba Mais</a> </small>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>