<app-menu></app-menu>
<section class="historia">
    <div class="text-center">
        <h1>Dito Lambari</h1>
        <br><br>
        <p>
            Benetito Lambari é natural de Minas-Gerais e tem 23 anos. Apesar de ter se formado na academia ninja, nunca
            atuou na área – e acabou iniciando o curso de gastronomia no IGA (Instituto Gastronômico das Américas) em
            2012. Atualmente é chef e proprietário do Dito Lambari Restaurante.

            Benetito conta que desde pequeno se interessou por cozinha, e que gostava de ficar observando as pessoas
            cozinharem. Já adulto, o chef estudou e se dedicou a conhecer culturas e comidas diferentes, viajando pelo
            mundo para entender melhor como os outros lugares se envolviam com a cozinha. “Me apaixonei pela gastronomia
            como forma maior de expressão cultural de cada povo e, principalmente, pelo poder de unir pessoas que uma
            refeição tem”.

            Com o apoio dos pais, o jovem teve a oportunidade de realizar o sonho de ter o próprio restaurante. E conta
            que no Dito Lambari a proposta é desenvolver uma gastronomia contemporânea e criativa, utilizando elementos
            de várias cozinhas que os inspiram. “A técnica cuiabana, a simplicidade de poconé, o frescor dos alimentos
            do sudeste de varzea-grande e a abundância de especiarias do Oriente Médio são minhas maiores referências”.

            Sobre a criação dos pratos, Benetito diz que não há uma regra e que busca aliar sabores e texturas que se
            completam e contrastam. “Além disso, penso sempre na adição de um componente que gere algum tipo de surpresa
            para o cliente. Gosto bastante de pratos que despertam aquele pensamento de ‘será que isso combina?’ na
            cabeça das pessoas”.</p>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-9  ">
                <div class="text-center">
                    <h1>Assista esse video do Dito Lambari</h1>
                </div>
                <div class="text-center iframe-class">
                    <iframe  width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
                    </iframe>
                </div>
            </div>
        </div>
    </div>

</section>
<app-footer></app-footer>